.courses {
  position: relative;
  padding-top: 185px;
  background-image: url('../img/bg/star-second-screen.png');

  @media screen and (max-width: 650px) {
    padding-top: 30px;
  }

  &--single {
    padding-top: 147px;

    @media screen and (max-width: 650px) {
      padding-top: 182px;
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    margin: 0 0 55px;
    font-size: 30px;

    @media screen and (max-width: 650px) {
      max-width: 283px;
      width: 100%;
      margin: 0 auto 30px;
      font-size: 26px;
      text-align: center;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(var(--column-count-course), 1fr);
    grid-gap: 50px 30px;
    padding: 0;
    margin: 0 0 60px;
    list-style: none;

    @media screen and (max-width: 1024px) {
      --column-count-course: 2;
    }

    @media screen and (max-width: 650px) {
      --column-count-course: 1;
      grid-gap: 25px 30px;
    }

    &--single {

      .course-card--one {
        .course-card__wrapper,
        .course-card__shadow {
          background-image: linear-gradient(120deg, rgb(85,169,241) 0%, rgb(90,110,198) 58%, rgb(17,83,252) 100%);
        }

        .course-card__wrapper {
          &::before {
            background-image: url('../img/content/single-course-1.png');
          }
        }
      }

      .course-card--two {
        .course-card__wrapper,
        .course-card__shadow {
          background-image: linear-gradient(120deg, rgb(50,211,198) 0%, rgb(50,190,211) 44%, rgb(4,158,115) 100%);
        }

        .course-card__wrapper {
          &::before {
            background-image: url('../img/content/single-course-2.png');
          }
        }
      }

      .course-card--three {
        .course-card__wrapper,
        .course-card__shadow {
          background-image: linear-gradient(-45deg, rgb(114,29,229) 0%, rgb(161,29,229) 45%, rgb(136,178,247) 100%);
        }

        .course-card__wrapper {
          &::before {
            background-image: url('../img/content/single-course-3.png');
          }
        }
      }

      .course-card {

        @media screen and (max-width: 650px) {
          height: 300px;
          margin-bottom: 23px;
        }

        &:hover {
          .course-card__wrapper {
            box-shadow: 0 0 11px 0 rgba(46, 224, 205, 03);
            border-color: rgb(100, 251, 253);
          }
        }
      }

      .course-card__wrapper {
        border: 1px solid transparent;
        transition: transform 0.3s, border-color .5s, box-shadow 0.5s;
      }

      .course-card__title {
        font-size: 21px;

        @media screen and (max-width: 650px) {
          font-size: 17px;
        }
      }

      .course-card__content {
        padding: 17px 13px 25px 26px;

        @media screen and (max-width: 650px) {
          padding: 22px 8px 12px 9px;
        }
      }

      .course-card__main {
        align-items: flex-start;
        padding-top: 20px;

        @media screen and (max-width: 650px) {
          padding-top: 25px;
        }
      }

      .course-card__footer {
        display: flex;
        align-items: center;
        padding-left: 3px;
        opacity: 1;

        p {
          font-size: 16px;
          font-weight: 600;
          line-height: 1.25;
          text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          color: $color-yellow;

          @media screen and (max-width: 768px) {
            font-size: 14px;
          }
        }
      }

      .courses__button {
        padding: 7px 59px 9px;

        @media screen and (max-width: 650px) {
          padding: 2px 52px 5px;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__price {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 45px;
    text-shadow: 0 1px 4.25px rgba(70, 31, 74, 0.3);

    @media screen and (max-width: 650px) {
      margin: 0;
      line-height: 40px;
    }

    span {
      font-size: 23px;
      color: $color-yellow;
    }
  }

  &__button {
    @include button;
    padding: 8px 51px 9px;
    font-size: 20px;

    @media screen and (max-width: 650px) {
      padding: 2px 42px 4px;
      font-size: 16px;
    }
  }

  .asteroid {
    position: absolute;
    top: 60px;
    will-change: transform;
  }
}

.course-card {
  position: relative;
  z-index: 1;
  height: 400px;
  border-radius: 31px;
  margin-bottom: 30px;

  @media screen and (max-width: 650px) {
    max-width: 256px;
    height: 280px;
    width: 100%;
    margin: 0 auto 14px;
    border-radius: 18px;
  }

  &--one {
    .course-card__wrapper {
      background-image: linear-gradient(122deg, rgb(252,105,176) 0%, rgb(222, 67, 224) 18%, rgb(195, 35, 254) 49%, rgb(155, 81, 255) 77%, rgb(119, 100, 255) 100%);

      &::before {
        background-image: url('../img/content/planet-course-1.png');
      }
    }

    .course-card__shadow {
      background-image: linear-gradient( 122deg, rgb(252,105,176) 0%, rgb(222,67,224) 18%, rgb(195,35,254) 49%, rgb(155,81,255) 77%, rgb(119,100,255) 100%);
    }
  }

  &--two {
    .course-card__wrapper {
      background-image: linear-gradient( 122deg, rgb(203,65,182) 0%, rgb(211,78,150) 35%, rgb(142,73,213) 69%, rgb(112,87,171) 100%);

      &::before {
        background-image: url('../img/content/planet-course-2.png');
      }
    }

    .course-card__shadow {
      background-image: linear-gradient( 122deg, rgb(203,65,182) 0%, rgb(211,78,150) 35%, rgb(142,73,213) 69%, rgb(112,87,171) 100%);
    }
  }

  &--three {
    .course-card__wrapper {
      background-image: linear-gradient( 122deg, rgb(72,196,197) 0%, rgb(90,181,240) 18%, rgb(116,149,245) 49%, rgb(166,98,228) 77%, rgb(181,94,190) 100%);

      &::before {
        background-image: url('../img/content/planet-course-3.png');
      }
    }

    .course-card__shadow {
      background-image: linear-gradient( 122deg, rgb(72,196,197) 0%, rgb(90,181,240) 18%, rgb(116,149,245) 49%, rgb(166,98,228) 77%, rgb(181,94,190) 100%);
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    border-radius: 31px;
    background-color: #c323fe;
    transition: transform 0.3s ease;
    will-change: transform;
    overflow: hidden;

    @media screen and (max-width: 650px) {
      border-radius: 18px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-position: 100%;
      background-repeat: no-repeat;
    }

    &:hover {
      transform: translateY(-10px);
    }
  }

  &__shadow {
    --width-subtrahend: calc(6% * var(--layer, 0));
    position: absolute;
    top: calc(3% * var(--layer, 0));
    left: calc(3% * var(--layer, 0));
    z-index: calc(var(--layer, 0) * -1);
    width: calc(100% - var(--width-subtrahend));
    height: 100%;
    border-radius: 31px;
    opacity: 0.3;

    &:nth-of-type(3) {
      opacity: 0.15;
    }
  }

  &__header {
    padding-bottom: 10px;

    @media screen and (max-width: 650px) {
      padding-bottom: 5px;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 62px 10px 42px 20px;

    @media screen and (max-width: 650px) {
      padding: 26px 10px 20px 13px;
    }
  }

  &__title {
    position: relative;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-shadow: 0 1px 4.25px rgba(70, 31, 74, 0.3);

    @media screen and (max-width: 650px) {
      font-size: 17px;
      line-height: 1;
    }

    span {
      color: $color-yellow;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -9px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-yellow;
      background: linear-gradient(to right, $color-yellow 0%, rgba(255, 255, 255, 0) 70%);
    }
  }

  &__main {
    flex: 1;
    display: flex;
    align-items: center;
    padding-top: 15px;
    //padding-bottom: 45px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    @media screen and (max-width: 650px) {
      font-size: 14px;
      line-height: 17px;
    }

    p {
      margin: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      font-weight: 500;
      font-size: 15px;
      list-style: none;

      @media screen and (max-width: 650px) {
        font-size: 14px;
      }

      li {
        position: relative;
        padding-left: 9px;

        &::before {
          position: absolute;
          top: 0;
          left: -1px;
          content: "-";
        }

        &:not(:last-of-type) {
          padding-bottom: 12px;

          @media screen and (max-width: 650px) {
            padding-bottom: 1px;
          }
        }
      }
    }
  }

  &__footer {
    margin-top: auto;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    opacity: 0.6;

    @media screen and (max-width: 650px) {
      font-size: 12px;
      line-height: 14px;
    }

    p {
      margin: 0;
    }
  }

  &__sale {
    display: flex;
    height: 26px;
    padding: 3px 13px 1px;
    margin-left: 8px;
    border-radius: 13px;
    background-color: rgb(243, 41, 112);
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;

    @media screen and (max-width: 768px) {
      height: auto;
      margin-left: 5px;
      padding: 2px 11px 1px;
      font-size: 10px;
    }
  }
}

.steps-learn {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0;
  padding: 0 0 0 110px;

  @media screen and (max-width: 1400px) {
    padding: 0;
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--left {
      position: absolute;
      left: -88px;
      top: -85px;

      @media screen and (max-width: 1400px) {
        position: relative;
        left: 0;
        top: 0;
      }

      &::before {
        content: "";
        position: absolute;
        left: -56px;
        top: -105px;
        width: 138px;
        height: 53px;
        transform: rotate(106deg);
        background-image: url(../img/content/line-down.png);
        background-repeat: no-repeat;
      }

      &::after {
        top: 46px!important;
        left: 88px;
        background-image: url(../img/content/line-up.png);
        transform: rotate(20deg);

        @media screen and (max-width: 1400px) {
          top: 14px!important;
          transform: rotate(-28deg);
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -160%;
      width: 138px;
      height: 53px;
      background-repeat: no-repeat;
    }

    &:not(.steps-learn__item--left) {
      &:nth-child(even) {
        margin-bottom: 20px;

        &:not(:last-of-type) {
          &::after {
            top: 75px;
            background-image: url('../img/content/line-down.png');
          }
        }
      }

      &:nth-child(odd) {
        margin-left: 26px;
        margin-top: 10px;

        &:not(:last-of-type) {
          &::after {
            top: -35px;
            right: -140%;
            background-image: url('../img/content/line-up.png');
          }
        }
      }

      &:nth-of-type(5) {
        &::after {
          top: -20px !important;
          right: -120% !important;
        }
      }
    }
  }

  &__img {
    flex-shrink: 0;
    display: block;
    width: 86px;

    + .steps-learn__text {
      margin-top: 10px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    + .steps-learn__img {
      margin-top: 10px;
    }
  }
}
