.thnx-modal {
  .modal__container {
    padding: 30px 40px;
    max-width: 480px;
    border-radius: 10px;
    background-color: #8e569b;
    background-image: url('../img/content/popup-bg.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;

    @media screen and (max-width: 440px) {
      background-size: 170px;
    }
  }

  &__text {
    color: #ffffff;

    span {
      font-weight: 600;
      font-size: 18px;
      line-height: 45px;
    }
  }
}
