.program {
  padding-bottom: 30px;

  &__title {
    position: relative;
    z-index: 2;
    margin: 0 0 55px;
    font-size: 30px;

    @media screen and (max-width: 650px) {
      max-width: 283px;
      width: 100%;
      margin: 0 auto 30px;
      font-size: 26px;
      text-align: center;
    }
  }
}

.accordion-wrapper {
  display: flex;
}

.accordion {
  max-width: 935px;
  width: 100%;

  @media screen and (max-width: 900px) {
    max-width: 100%;
  }

  &__list {
    padding: 0;
    list-style: none;
  }

  &__item {
    border-radius: 10px;
    background-color: rgba(#8e569b, 0.5);

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
  }

  &__title {
    position: relative;
    width: 100%;
    height: 53px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 15px 0 25px;
    border: none;
    background-color: transparent;
    font-weight: 600;
    text-align: left;
    color: $color-yellow;
    cursor: pointer;
    transition: color 0.3s;

    @media screen and (max-width: 900px) {
      height: 70px;
      padding: 0 6px 0 12px;
      font-size: 16px;
    }

    &-text {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 288px;
        height: 2px;
        background-color: #ffc800;
        background: linear-gradient(to right, #ffc800 0, rgba(255, 255, 255, 0) 70%);
        opacity: 0;
        transition: opacity 0.3s;
      }
    }

    &.open {
      color: #ffffff;

      .accordion__title-text {
        &::after {
          opacity: 1;
        }
      }

      .accordion__icon {
        transform: rotate(45deg);

        &::after,
        &::before {
          background-color: #e68aaa;
        }
      }
    }

    &-sub {
      display: block;
      font-size: 14px;
      color: #ffffff;
    }
  }

  &__icon {
    position: relative;
    display: block;
    width: 21px;
    height: 21px;
    margin-left: auto;
    transition: 0.3s;

    @media screen and (max-width: 900px) {
      position: absolute;
      top: 6px;
      right: 6px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 9px;
      height: 21px;
      width: 2px;
      background-color: #f1aec5;
      transition: background-color 0.3s;
    }

    &::before {
      transform: rotate(90deg);
    }
  }

  &__wrapper {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
  }

  &__content {
    padding-top: 7px;
    padding-right: 20px;
    padding-left: 25px;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 18px;

    @media screen and (max-width: 900px) {
      padding-left: 12px;
    }

    p {
      margin: 0 0 10px;
      backface-visibility: hidden;
      -webkit-font-smoothing: antialiased;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      backface-visibility: hidden;
      -webkit-font-smoothing: antialiased;

      li {
        position: relative;
        padding-left: 15px;
        padding-bottom: 5px;
        backface-visibility: hidden;
        -webkit-font-smoothing: antialiased;

        &::before {
          content: "";
          position: absolute;
          top: 5px;
          left: 2px;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          box-shadow: 0 0 4px 1px #fff;
          background-color: $color-yellow;
        }
      }
    }
  }
}

.what-learn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px;
  padding-left: 13px;

  @media screen and (max-width: 900px) {
    display: none;
  }

  &__title {
    text-align: center;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 180px;
      height: 126px;
      padding: 7px 9px 0;
      border-radius: 10px;
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      text-align: center;

      &:hover {
        &::before {
          opacity: 0.8;
        }
      }

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        border-radius: 10px;
        background: linear-gradient(to bottom, rgba(#d32265, 1) 33%, rgba(#ffffff, 0) 105%);
        opacity: 0.5;
        transition: opacity 0.3s;
      }

      svg {
        flex-shrink: 0;
        margin-bottom: 10px;
        fill: $color-yellow;
      }

      p {
        margin: 0;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
