<div class="main-banner">
  <div class="container">
    <div class="main-banner__content">
      <h1 class="main-banner__title">
        Эффективные курсы подготовки к ЕГЭ
        по информатике и математике 2021!
      </h1>
      <p class="main-banner__descr">
        Путь к&nbsp;заветной вершине &ndash; это&nbsp;подготовка
        по&nbsp;нашей методике, работа на&nbsp;вебинарах, проверка
        и&nbsp;разбор домашки, лайфхаки в&nbsp;видеоуроках,
        пробные&nbsp;ЕГЭ и&nbsp;опытные наставники!
      </p>

      <p class="main-banner__bottom-text">
        Узнай о курсах от преподавателя
      </p>

      <button type="button" class="main-banner__button">
        <span>Хочу узнать!</span>
      </button>
    </div>
  </div>

  <div class="main-banner__big-planet">
    <img src="img/content/small-planet-first-screen.png" class="small-planet" alt="планета" title="планета">
    <img src="img/content/planet-before-light.png" class="big-planet-light" alt="свечение" title="свечение">
    <img src="img/content/planet-first-screen.png" class="big-planet" alt="планета" title="планета">
    <img src="img/content/rocket.png" class="rocket" alt="ракета" title="ракета">
  </div>
</div>
