<section class="courses courses--single data-content" data-content="tariff">
  <div class="container">
    <h2 class="courses__title">Тарифы курса: “Математика - с нуля и в космос!”</h2>

    <ul class="courses__list courses__list--single">
      <li class="courses__item">
        <div class="course-card course-card--one">
          <div class="course-card__wrapper">
            <article class="course-card__content">
              <header class="course-card__header">
                <h2 class="course-card__title">3...2...1... <span>Пуск!</span></h2>
              </header>
              <div class="course-card__main">
                <ul>
                  <li>Свыше 50 обучающих видео</li>
                  <li>140+ часов занятий</li>
                  <li>Вебинары каждую неделю</li>
                  <li>Домашка к каждой теме с проверкой и разборами</li>
                  <li>Пробные ЕГЭ с экспертной проверкой</li>
                  <li>Понятная и удобная теория</li>
                </ul>
              </div>
              <footer class="course-card__footer">
                <p>
                  Доступ на месяц
                </p>
              </footer>
            </article>
          </div>
          <div class="course-card__shadow" style="--layer: 1"></div>
          <div class="course-card__shadow" style="--layer: 2"></div>
        </div>
        <div class="courses__bottom">
          <div class="courses__price">
            <span>2300</span> руб/месяц
          </div>
          <a href="#" class="animate-btn courses__button" data-btn-scroll="form">
            <span class="animate-btn__text">Оплатить</span>
            <include src="source/html/components/animate-container-button.html"></include>
          </a>
        </div>
      </li>
      <li class="courses__item">
        <div class="course-card course-card--two">
          <div class="course-card__wrapper">
            <article class="course-card__content">
              <header class="course-card__header">
                <h2 class="course-card__title">Просчитанный <span>полет</span></h2>
              </header>
              <div class="course-card__main">
                <ul>
                  <li>Свыше 50 обучающих видео</li>
                  <li>140+ часов занятий</li>
                  <li>Вебинары каждую неделю</li>
                  <li>Домашка к каждой теме с проверкой и разборами</li>
                  <li>Пробные ЕГЭ с экспертной проверкой</li>
                  <li>Понятная и удобная теория</li>
                  <li>Помощь и контроль личного наставника</li>
                </ul>
              </div>
              <footer class="course-card__footer">
                <p>
                  Доступ на месяц
                </p>
                <span class="course-card__sale">Скидка 500р</span>
              </footer>
            </article>
          </div>
          <div class="course-card__shadow" style="--layer: 1"></div>
          <div class="course-card__shadow" style="--layer: 2"></div>
        </div>
        <div class="courses__bottom">
          <div class="courses__price">
            <span>2300</span> руб/месяц
          </div>
          <a href="#" class="animate-btn courses__button" data-btn-scroll="form">
            <span class="animate-btn__text">Оплатить</span>
            <include src="source/html/components/animate-container-button.html"></include>
          </a>
        </div>
      </li>
      <li class="courses__item">
        <div class="course-card course-card--three">
          <div class="course-card__wrapper">
            <article class="course-card__content">
              <header class="course-card__header">
                <h2 class="course-card__title">Опытная <span>колонизация</span></h2>
              </header>
              <div class="course-card__main">
                <ul>
                  <li>Свыше 50 обучающих видео</li>
                  <li>140+ часов занятий</li>
                  <li>Вебинары каждую неделю</li>
                  <li>Домашка к каждой теме с проверкой и разборами</li>
                  <li>Пробные ЕГЭ с экспертной проверкой</li>
                  <li>Понятная и удобная теория</li>
                  <li>Помощь и контроль личного наставника</li>
                </ul>
              </div>
              <footer class="course-card__footer">
                <p>
                  Доступ на год
                </p>
                <span class="course-card__sale">Скидка 4000р</span>
              </footer>
            </article>
          </div>
          <div class="course-card__shadow" style="--layer: 1"></div>
          <div class="course-card__shadow" style="--layer: 2"></div>
        </div>
        <div class="courses__bottom">
          <div class="courses__price">
            <span>20 500 </span> руб/месяц
          </div>
          <a href="#" class="animate-btn courses__button" data-btn-scroll="form">
            <span class="animate-btn__text">Оплатить</span>
            <include src="source/html/components/animate-container-button.html"></include>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
