<section class="courses data-content" data-content="courses">
  <img src="img/content/asteroid.png" class="asteroid" alt="комета" title="комета">
  <div class="container">
    <h2 class="courses__title">Наши космические курсы</h2>

    <ul class="courses__list">
      <li class="courses__item">
        <div class="course-card course-card--one">
          <div class="course-card__wrapper">
            <article class="course-card__content">
              <header class="course-card__header">
                <h2 class="course-card__title">Математика - с нуля и в <span>космос</span>!</h2>
              </header>
              <div class="course-card__main">
                <p>Полная программа <br> подготовки к&nbsp;ЕГЭ <br>
                  по&nbsp;математике, первая <br> и&nbsp;вторая часть<br>
                  с&nbsp;лучшими<br> специалистами<br> Галактики!</p>
              </div>
              <footer class="course-card__footer">
                <p>
                  140+ часов занятий, вебинары, домашка,
                  наставничество и отборная теория!
                </p>
              </footer>
            </article>
          </div>
          <div class="course-card__shadow" style="--layer: 1"></div>
          <div class="course-card__shadow" style="--layer: 2"></div>
        </div>
        <div class="courses__bottom">
          <div class="courses__price">
            от <span>2300</span> руб/месяц
          </div>
          <a href="#" class="animate-btn courses__button" data-btn-scroll="form">
            <span class="animate-btn__text">Купить курс</span>
            <include src="source/html/components/animate-container-button.html"></include>
          </a>
        </div>
      </li>
      <li class="courses__item">
        <div class="course-card course-card--two">
          <div class="course-card__wrapper">
            <article class="course-card__content">
              <header class="course-card__header">
                <h2 class="course-card__title">Информатика - покори <span>Илона</span></h2>
              </header>
              <div class="course-card__main">
                <p>Познай информатику,<br> как&nbsp;лучший начинающий<br>
                  специалист, от&nbsp;систем<br> счисления до&nbsp;сложных<br> алгоритмических задач!</p>
              </div>
              <footer class="course-card__footer">
                <p>
                  140+ часов занятий, вебинары, домашка,
                  наставничество и отборная теория!
                </p>
              </footer>
            </article>
          </div>
          <div class="course-card__shadow" style="--layer: 1"></div>
          <div class="course-card__shadow" style="--layer: 2"></div>
        </div>
        <div class="courses__bottom">
          <div class="courses__price">
            от <span>2300</span> руб/месяц
          </div>
          <a href="#" class="animate-btn courses__button" data-btn-scroll="form">
            <span class="animate-btn__text">Купить курс</span>
            <include src="source/html/components/animate-container-button.html"></include>
          </a>
        </div>
      </li>
      <li class="courses__item">
        <div class="course-card course-card--three">
          <div class="course-card__wrapper">
            <article class="course-card__content">
              <header class="course-card__header">
                <h2 class="course-card__title">Экспресс взлёт до <span>70</span> баллов!</h2>
              </header>
              <div class="course-card__main">
                <p>Экспресс-старт от&nbsp;0 до 70 баллов в кратчайшие сроки:&nbsp;за&nbsp;три месяца! Доскональное
                  изучение <br>
                  с&nbsp;1&nbsp;по&nbsp;13 задания ЕГЭ Математика профиль!</p>
              </div>
              <footer class="course-card__footer">
                <p>
                  140+ часов занятий, вебинары, домашка,
                  наставничество и отборная теория!
                </p>
              </footer>
            </article>
          </div>
          <div class="course-card__shadow" style="--layer: 1"></div>
          <div class="course-card__shadow" style="--layer: 2"></div>
        </div>
        <div class="courses__bottom">
          <div class="courses__price">
            от <span>2300</span> руб/месяц
          </div>
          <a href="#" class="animate-btn courses__button" data-btn-scroll="form">
            <span class="animate-btn__text">Купить курс</span>
            <include src="source/html/components/animate-container-button.html"></include>
          </a>
        </div>
      </li>
    </ul>

    <ul class="steps-learn" aria-label="">
      <li class="steps-learn__item steps-learn__item--left">
        <img src="img/content/steps/001-webinar.png" alt="Работаешь на вебинарах" title="Работаешь на вебинарах" class="steps-learn__img">

        <span class="steps-learn__text">
          Работаешь <br> на вебинарах
        </span>
      </li>
      <li class="steps-learn__item">
        <span class="steps-learn__text">
          Смотришь<br> видеоуроки
        </span>
        <img src="img/content/steps/002-webinar-1.png" alt="Смотришь видеоуроки" title="Смотришь видеоуроки" class="steps-learn__img">
      </li>
      <li class="steps-learn__item">
        <img src="img/content/steps/003-presentation.png" alt="Закрепляешь теорию" title="Закрепляешь теорию" class="steps-learn__img">
        <span class="steps-learn__text">
          Закрепляешь <br> теорию
        </span>
      </li>
      <li class="steps-learn__item">
        <span class="steps-learn__text">
          Выполняешь<br> домашнее <br>задание
        </span>
        <img src="img/content/steps/004-homework.png" alt="Выполняешь домашнее задание" title="Выполняешь домашнее задание" class="steps-learn__img">
      </li>
      <li class="steps-learn__item">
        <img src="img/content/steps/005-book.png" alt="Разбираешь вопросы с наставником" title="Разбираешь вопросы с наставником" class="steps-learn__img">
        <span class="steps-learn__text">
          Разбираешь<br> вопросы <br>с наставником
        </span>
      </li>
      <li class="steps-learn__item">
        <span class="steps-learn__text">
          Пишешь <br>пробные <br>ЕГЭ
        </span>
        <img src="img/content/steps/006-exam.png" alt="Пишешь пробные ЕГЭ" title="Пишешь пробные ЕГЭ" class="steps-learn__img">
      </li>
    </ul>
  </div>
</section>
