<section class="program data-content" data-content="program">
  <div class="container">
    <h2 class="program__title">
      Программа курса "Математика ЕГЭ - с нуля и в космос!"
    </h2>

    <div class="accordion-wrapper">
      <div class="accordion">
        <ul class="accordion__list" role="presentation">
          <li class="accordion__item">
            <button class="accordion__title" aria-controls="accordion__content_1" aria-expanded="false" tabindex="0"
                    id="accordion__title_1" aria-selected="false">Повторение
            </button>
            <div class="accordion__wrapper" id="accordion__content_1" role="region" aria-hidden="true"
                 aria-labelledby="accordion__title_1" tabindex="-1">
              <div class="accordion__content">
                <p>
                  Today, Google is launching the biggest revamp of Gmail in years. The company is bringing to the flagship
                  Gmail service many (but not all) of the features it trialed in Inbox for Gmail, and adding a few new ones,
                  too. With those new features, which we first reported earlier this month, the company is also introducing
                  a refreshed design for the service, though if you’ve used Gmail before, you’ll feel right at home.
                </p>
              </div>
            </div>
          </li>
          <li class="accordion__item">
            <button class="accordion__title" aria-controls="accordion__content_2" aria-expanded="false" tabindex="0"
                    id="accordion__title_2" aria-selected="false">Задания 1, 2
            </button>
            <div class="accordion__wrapper" id="accordion__content_2" role="region" aria-hidden="true"
                 aria-labelledby="accordion__title_2" tabindex="-1">
              <div class="accordion__content">
                <p>
                  Today, Google is launching the biggest revamp of Gmail in years. The company is bringing to the flagship
                  Gmail service many (but not all) of the features it trialed in Inbox for Gmail, and adding a few new ones,
                  too. With those new features, which we first reported earlier this month, the company is also introducing
                  a refreshed design for the service, though if you’ve used Gmail before, you’ll feel right at home.
                </p>
              </div>
            </div>
          </li>
          <li class="accordion__item">
            <button class="accordion__title" aria-controls="accordion__content_3" aria-expanded="false" tabindex="0"
                    id="accordion__title_3" aria-selected="false">Задания 3
            </button>
            <div class="accordion__wrapper" id="accordion__content_3" role="region" aria-hidden="true"
                 aria-labelledby="accordion__title_3" tabindex="-1">
              <div class="accordion__content">
                <p>
                  Today, Google is launching the biggest revamp of Gmail in years. The company is bringing to the flagship
                  Gmail service many (but not all) of the features it trialed in Inbox for Gmail, and adding a few new ones,
                  too. With those new features, which we first reported earlier this month, the company is also introducing
                  a refreshed design for the service, though if you’ve used Gmail before, you’ll feel right at home.
                </p>
              </div>
            </div>
          </li>
          <li class="accordion__item">
            <button class="accordion__title" aria-controls="accordion__content_4" aria-expanded="false" tabindex="0"
                    id="accordion__title_4" aria-selected="false">Ведение бухгалтерии для ИП
            </button>
            <div class="accordion__wrapper" id="accordion__content_4" role="region" aria-hidden="true"
                 aria-labelledby="accordion__title_4" tabindex="-1">
              <div class="accordion__content">
                <p>
                  Today, Google is launching the biggest revamp of Gmail in years. The company is bringing to the flagship
                  Gmail service many (but not all) of the features it trialed in Inbox for Gmail, and adding a few new ones,
                  too. With those new features, which we first reported earlier this month, the company is also introducing
                  a refreshed design for the service, though if you’ve used Gmail before, you’ll feel right at home.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
