<section class="reviews data-content" data-content="reviews">
  <div class="container">

    <h2 class="reviews__title">Отзывы</h2>

    <div class="reviews__slider">

      <div class="reviews__container swiper-container">
        <div class="reviews__wrapper swiper-wrapper">
          <div class="swiper-slide reviews__slide slide-review">
            <div class="slide-review__wrapper">
              <figure class="slide-review__img">
                <img src="img/content/user.png" alt="Олег Антонов" title="Олег Антонов">
              </figure>

              <blockquote class="slide-review__text">
                <p>
                  Шикарна перкарсная школа. Все круто классно. Могем, умеем правктикум. Много инетерсного. Супер, класссно. Все понял. Всему научился
                </p>
                <footer class="slide-review__author">
                  <button type="button" class="btn-modal-youtube" data-micromodal-trigger="modal-3" data-video-src="https://www.youtube.com/embed/cQzr_eteoa8">
                    <img src="img/content/youtube.png">
                  </button>
                  <p>Олег Антонов, г. Москва, 100 баллов</p>
                </footer>
              </blockquote>
            </div>
          </div>

          <div class="swiper-slide reviews__slide slide-review">
            <div class="slide-review__wrapper">
              <figure class="slide-review__img">
                <img src="img/content/user.png" alt="Олег Антонов" title="Олег Антонов">
              </figure>

              <blockquote class="slide-review__text">
                <p>
                  Шикарна перкарсная школа. Все круто классно. Могем, умеем правктикум. Много инетерсного. Супер, класссно. Все понял. Всему научился
                  Шикарна перкарсная школа. Все круто классно. Могем, умеем правктикум. Много инетерсного. Супер, класссно. Все понял. Всему научилсяШикарна перкарсная школа. Все круто классно. Могем, умеем правктикум
                </p>
                <footer class="slide-review__author">
                  <p>Олег Антонов, г. Москва, 100 баллов</p>
                </footer>
              </blockquote>
            </div>
          </div>

          <div class="swiper-slide reviews__slide slide-review">
            <div class="slide-review__wrapper">
              <figure class="slide-review__img">
                <img src="img/content/user.png" alt="Олег Антонов" title="Олег Антонов">
              </figure>

              <blockquote class="slide-review__text">
                <p>
                  Шикарна перкарсная школа. Все круто классно. Могем, умеем правктикум. Много инетерсного. Супер, класссно. Все понял. Всему научился
                </p>
                <footer class="slide-review__author">
                  <p>Олег Антонов, г. Москва, 100 баллов</p>
                </footer>
              </blockquote>
            </div>
          </div>

          <div class="swiper-slide reviews__slide slide-review">
            <div class="slide-review__wrapper">
              <figure class="slide-review__img">
                <img src="img/content/user.png" alt="Олег Антонов" title="Олег Антонов">
              </figure>

              <blockquote class="slide-review__text">
                <p>
                  Шикарна перкарсная школа. Все круто классно. Могем, умеем правктикум. Много инетерсного. Супер, класссно. Все понял. Всему научился
                </p>
                <footer class="slide-review__author">
                  <button type="button" class="btn-modal-youtube" data-micromodal-trigger="modal-3" data-video-src="https://www.youtube.com/embed/DJsbzQqYUd0">
                    <img src="img/content/youtube.png">
                  </button>
                  <p>Олег Антонов, г. Москва, 100 баллов</p>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination reviews__pagination"></div>

      <button class="swiper-button-prev reviews__button reviews__button--prev"></button>
      <button class="swiper-button-next reviews__button reviews__button--next"></button>
    </div>
  </div>
</section>
