<section class="teachers data-content" data-content="teachers">
  <img src="img/content/green-planet.png" class="green-planet" alt="">

  <div class="container">
    <h2 class="teachers__title">
      Преподаватели Галактики
    </h2>

    <ul class="teachers-list">
      <li class="teachers-list__item teacher">
        <section class="teacher__wrapper">
          <figure class="teacher__img">
            <img src="img/content/teachers/teacher-1.png" alt="Безик Денис Валерьевич" title="Безик Денис Валерьевич">
          </figure>

          <div class="teacher__content">
            <h3 class="teacher__name">Безик Денис Валерьевич</h3>
            <ul class="teacher__about">
              <li>Дипломированный математик-программист</li>
              <li>Опытный веб-разработчик</li>
              <li>Практикующий репетитор по математике, информатике и программированию</li>
              <li>Регулярно проходит квалификационные экзамены PROFI.RU</li>
              <li>Выпускники учатся в ВУЗах Москвы, Санкт-Петербурга, Краснодара</li>
            </ul>
            <a href="" class="teacher__link" rel="nofollow noopener" target="_blank">
              <img src="img/content/icon-profi.png" alt="Аккаунт Профи Безик Денис Валерьевич" title="Аккаунт Профи Безик Денис Валерьевич">
              <span>PROFI.RU</span>
            </a>
          </div>
        </section>
      </li>

      <li class="teachers-list__item teacher">
        <section class="teacher__wrapper">
          <figure class="teacher__img">
            <img src="img/content/teachers/teacher-2.png" alt="Безик Денис Валерьевич" title="Безик Денис Валерьевич">
          </figure>

          <div class="teacher__content">
            <h3 class="teacher__name">Дейнекин Константин Сергеевич</h3>
            <ul class="teacher__about">
              <li>Преподаватель Кубанского государственного университета</li>
              <li>Автор научных статей по высшей алгебре</li>
              <li>Практикующий репетитор по математике</li>
              <li>Выпускники учатся в ведущих вузах России, Китая и Чехии</li>
            </ul>
            <a href="" class="teacher__link" rel="nofollow noopener" target="_blank">
              <img src="img/content/icon-profi.png" alt="Аккаунт Профи Безик Денис Валерьевич" title="Аккаунт Профи Безик Денис Валерьевич">
              <span>PROFI.RU</span>
            </a>
          </div>
        </section>
      </li>

      <li class="teachers-list__item teacher">
        <section class="teacher__wrapper">
          <figure class="teacher__img">
            <img src="img/content/teachers/teacher-3.png" alt="Безик Денис Валерьевич" title="Безик Денис Валерьевич">
          </figure>

          <div class="teacher__content">
            <h3 class="teacher__name">Ищенко Анастасия Алексеевна</h3>
            <ul class="teacher__about">
              <li>Автор методических статей по геометрии</li>
              <li>Практикующий репетитор по математике</li>
              <li>Составитель олимпиадных задач по алгебре и геометрии</li>
              <li>Организатор математических олимпиад краевого уровня</li>
            </ul>
            <a href="" class="teacher__link" rel="nofollow noopener" target="_blank">
              <img src="img/content/icon-profi.png" alt="Аккаунт Профи Безик Денис Валерьевич" title="Аккаунт Профи Безик Денис Валерьевич">
              <span>PROFI.RU</span>
            </a>
          </div>
        </section>
      </li>

      <li class="teachers-list__item teacher">
        <section class="teacher__wrapper">
          <figure class="teacher__img">
            <img src="img/content/teachers/teacher-4.png" alt="Безик Денис Валерьевич" title="Безик Денис Валерьевич">
          </figure>

          <div class="teacher__content">
            <h3 class="teacher__name">Левицкая Мария Андреевна</h3>
            <ul class="teacher__about">
              <li>Практикующий репетитор по математике и информатике</li>
              <li>Студентка КубГУ, факультета Компьютерных технологий и <br> прикладной математики</li>
              <li>Действующий IT-специалист</li>
              <li>Разрабатывает авторские разборы задач</li>
            </ul>
          </div>
        </section>
      </li>
    </ul>
  </div>
</section>
