<section class="teachers">
  <h2 class="teachers__title">
    Преподаватели Галактики
  </h2>

  <ul class="teachers-list">
    <li class="teachers-list__item teacher">
      <section class="teacher__wrapper">
        <figure class="teacher__img">
          <img src="" alt="">
        </figure>

        <div class="teacher__content">
          <h3 class="teacher__name">Безик Денис Валерьевич</h3>
          <ul class="teacher__about">
            <li>Дипломированный математик-программист</li>
            <li>Опытный веб-разработчик</li>
            <li>Практикующий репетитор по математике, информатике и программированию</li>
            <li>Регулярно проходит квалификационные экзамены PROFI.RU</li>
            <li>Выпускники учатся в ВУЗах Москвы, Санкт-Петербурга, Краснодара</li>
          </ul>
          <a href="" class="teacher__link" rel="nofollow noopener" target="_blank"></a>
        </div>
      </section>
    </li>
  </ul>
</section>
