<section class="why-way data-content" data-content="advantages">

  <div class="container">
    <h2 class="why-way__title">
      Почему тебе с нами по пути
    </h2>

    <ul class="why-way__list why-list">
      <li class="why-list__item">
        <figure class="why-list__content">
          <img src="img/content/why/why-1.png" alt="" class="why-list__img">
          <figcaption class="why-list__descr">
            <p>
              Полезные практики и уникальные лайфхаки для покорения задач ЕГЭ
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="why-list__item">
        <figure class="why-list__content">
          <img src="img/content/why/why-2.png" alt="" class="why-list__img">
          <figcaption class="why-list__descr">
            <p>
              Вся необходимая теория, никакой воды
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="why-list__item">
        <figure class="why-list__content">
          <img src="img/content/why/why-3.png" alt="" class="why-list__img">
          <figcaption class="why-list__descr">
            <p>
              Много <br> практических задач&nbsp;&ndash;&nbsp;научим решать всевозможные типы&nbsp;заданий
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="why-list__item">
        <figure class="why-list__content">
          <img src="img/content/why/why-4.png" alt="" class="why-list__img">
          <figcaption class="why-list__descr">
            <p>
              Подготовим к "внештатным" ситуациям, когда вы&nbsp;видите задание впервые
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="why-list__item">
        <figure class="why-list__content">
          <img src="img/content/why/why-5.png" alt="" class="why-list__img">
          <figcaption class="why-list__descr">
            <p>
              Самые понятные и&nbsp;подробные разборы заданий в&nbsp;электронном <br> виде
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="why-list__item">
        <figure class="why-list__content">
          <img src="img/content/why/why-6.png" alt="" class="why-list__img">
          <figcaption class="why-list__descr">
            <p>
              Большое <br> количество <br> домашнего <br> задания с <br>проверкой
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="why-list__item">
        <figure class="why-list__content">
          <img src="img/content/why/why-7.png" alt="" class="why-list__img">
          <figcaption class="why-list__descr">
            <p>
              Прикрепляем личного наставника для мотивации - никакой халявы на курсе
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="why-list__item">
        <figure class="why-list__content">
          <img src="img/content/why/why-8.png" alt="" class="why-list__img">
          <figcaption class="why-list__descr">
            <p>
              Доступ на платформу круглосуточно - выполняй домашку и смотри видео в любое время
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="why-list__item">
        <figure class="why-list__content">
          <img src="img/content/why/why-9.png" alt="" class="why-list__img">
          <figcaption class="why-list__descr">
            <p>
              Регулярные пробные&nbsp;ЕГЭ&nbsp;с проверкой, разборами и баллами
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="why-list__item">
        <figure class="why-list__content">
          <img src="img/content/why/why-10.png" alt="" class="why-list__img">
          <figcaption class="why-list__descr">
            <p>
              Возможно индивидуальное онлайн обучение или&nbsp;очные встречи в г.Краснодаре
            </p>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
  <img src="img/content/comet.png" class="comet" alt="комет" title="комета">
</section>
