* {
  outline: none;
}

body {
  background-color: #220d29;
  background: linear-gradient(to bottom, rgba(26,9,36,1) 0%, rgba(86,24,119,1) 55%);
}

.visually-hidden,
input[type="file"].visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.scroll-lock {
  overflow-y: auto;
  position: fixed;
}

.btn-reset {
  cursor: pointer;
  padding: 0;
  background: $color-transparent;
  border: none;
}

.input-wrapper {
  position: relative;
  transition: border-color 0.3s;

  &__error-text {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 100%;
    display: block;
    transform: translateX(-50%);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #ec1c24;
    opacity: 0;
    transition: opacity 0.3s;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
  }

  &--error {
    input {
      border-color: #ec1c24 !important;
    }

    .input-wrapper__error-text {
      opacity: 1;
    }
  }
}

.main-content {
  position: relative;

  //&::before {
  //  content: "";
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 800px;
  //  z-index: 0;
  //  background-image: url('../img/bg/flare-first-screen.png');
  //  background-size: contain;
  //  background-position: 50% 50%;
  //  //background: radial-gradient(#7c3b67 2%,rgba(255,255,255,0) 63%);
  //  background-repeat: no-repeat;
  //  //opacity: 0.2;
  //}
}

.animate-btn {
  position: relative;

  &__text {
    position: relative;
    z-index: 2;
    display: inline-block;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
  }

  &__effect-container {
    position: absolute;
    display: block;
    width: 200%;
    height: 400%;
    top: -150%;
    left: -50%;
    border-radius: 20px;
    //filter: url(#goo);
    transition: all 0.1s ease-out;
    pointer-events: none;

    .circle {
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 15px;
      background: $color-yellow;
      transition: background 0.1s ease-out;

      &.top-left {
        top: 40%;
        left: 27%;
      }

      &.bottom-right {
        bottom: 40%;
        right: 27%;
      }
    }

    .effect-button {
      position: absolute;
      width: 50%;
      height: 25%;
      top: 50%;
      left: 25%;
      z-index: 1;
      border-radius: 40px;
      transform: translateY(-50%);
      background: linear-gradient(0, #d14e31 0%, #fddb42 100%);
      transition: background 0.1s ease-out;
    }
  }
}

.scroll-up-btn {
  position: fixed;
  right: 70px;
  bottom: 20px;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;

  @media screen and (max-width: 1550px) {
    right: 20px;
  }

  @media screen and (max-width: 1023px) {
    width: 29px;
  }

  &__visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
  }
}

.wrapper-video {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
}

.wrapper-video embed,
.wrapper-video iframe,
.wrapper-video object {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@keyframes hue-rotate {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
